@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9842 0.0034 247.8575);
  --foreground: oklch(0.1288 0.0406 264.6952);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1288 0.0406 264.6952);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1288 0.0406 264.6952);
  --primary: oklch(0.5461 0.2152 262.8809);
  --primary-foreground: oklch(0.9771 0.0125 236.6197);
  --secondary: oklch(0.6345 0.1729 264.3132);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(94.816% 0.00354 248.555);
  --muted-foreground: oklch(0.551 0.0234 264.3637);
  --accent: oklch(0.8761 0.0629 250.7253);
  --accent-foreground: oklch(0.2605 0.0575 252.4865);
  --destructive: oklch(0.5771 0.2152 27.325);
  --destructive-foreground: oklch(0.9842 0.0034 247.8575);
  --border: oklch(0.9276 0.0058 264.5313);
  --input: oklch(0.9842 0.0034 247.8575);
  --ring: oklch(0.5461 0.2152 262.8809);
  --chart-1: oklch(0.7116 0.1812 22.8389);
  --chart-2: oklch(0.6106 0.1141 253.3435);
  --chart-3: oklch(0.868 0.1558 144.0882);
  --chart-4: oklch(0.8868 0.1822 95.3305);
  --chart-5: oklch(0.4209 0.1935 328.3634);
  --sidebar: oklch(0.967 0.0029 264.5419);
  --sidebar-foreground: oklch(0.3729 0.0306 259.7328);
  --sidebar-primary: oklch(0.6231 0.188 259.8145);
  --sidebar-primary-foreground: oklch(0.9771 0.0125 236.6197);
  --sidebar-accent: oklch(0.8761 0.0629 250.7253);
  --sidebar-accent-foreground: oklch(0.2605 0.0575 252.4865);
  --sidebar-border: oklch(0.8717 0.0093 258.3382);
  --sidebar-ring: oklch(0.8823 0.0571 254.1284);
  --font-sans:
    'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  --radius: 0.5rem;
}

.dark {
  --background: oklch(0.1288 0.0406 264.6952);
  --foreground: oklch(0.9842 0.0034 247.8575);
  --card: oklch(0.1654 0.0406 264.6952);
  --card-foreground: oklch(0.9842 0.0034 247.8575);
  --popover: oklch(0.1654 0.0406 264.6952);
  --popover-foreground: oklch(0.9842 0.0034 247.8575);
  --primary: oklch(0.6345 0.1729 264.3132);
  --primary-foreground: oklch(0.1288 0.0406 264.6952);
  --secondary: oklch(0.2605 0.0575 252.4865);
  --secondary-foreground: oklch(0.9842 0.0034 247.8575);
  --muted: oklch(0.2139 0.0406 264.6952);
  --muted-foreground: oklch(0.6823 0.0234 264.3637);
  --accent: oklch(0.2605 0.0575 252.4865);
  --accent-foreground: oklch(0.9842 0.0034 247.8575);
  --destructive: oklch(0.5771 0.2152 27.325);
  --destructive-foreground: oklch(0.9842 0.0034 247.8575);
  --border: oklch(0.2605 0.0406 264.6952);
  --input: oklch(0.2139 0.0406 264.6952);
  --ring: oklch(0.6345 0.1729 264.3132);
  --sidebar: oklch(0.1654 0.0406 264.6952);
  --sidebar-foreground: oklch(0.8717 0.0093 258.3382);
  --sidebar-primary: oklch(0.6345 0.1729 264.3132);
  --sidebar-primary-foreground: oklch(0.1288 0.0406 264.6952);
  --sidebar-accent: oklch(0.2605 0.0575 252.4865);
  --sidebar-accent-foreground: oklch(0.9842 0.0034 247.8575);
  --sidebar-border: oklch(0.2605 0.0406 264.6952);
  --sidebar-ring: oklch(0.6345 0.1729 264.3132);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: var(--font-sans);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  @import './preflight.css';

  * {
    border-color: var(--border);
  }

  body {
    font-family: --theme(--default-font-family, var(--font-sans));
  }

  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #e1e1e1;
    border-radius: 3px;
  }

  textarea,
  input[type='text'] {
    resize: none;
  }
}

@layer utilities {
  @import 'tailwindcss/utilities.css';
}

@layer theme {
  @import 'tailwindcss/theme.css';
}
