services:
  datn-fe-app:
    image: ghcr.io/tien4112004/datn-fe:app-latest
    container_name: frontend-app-aiprimary
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 512M
    ports:
      - '5173:5173'
    environment:
      - NODE_ENV=production
      - PORT=5173
      - PRESENTATION_URL=${PRESENTATION_URL}
      - VITE_API_URL=${VITE_API_URL}
    networks:
      - network-aiprimary

  datn-fe-presentation:
    image: ghcr.io/tien4112004/datn-fe:presentation-latest
    container_name: frontend-presentation-aiprimary
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 512M
    ports:
      - '5174:5174'
    environment:
      - NODE_ENV=production
      - PORT=5174
      - VITE_API_URL=${VITE_API_URL}
    networks:
      - network-aiprimary

  datn-fe-admin:
    image: ghcr.io/tien4112004/datn-fe:admin-latest
    container_name: frontend-admin-aiprimary
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 512M
    ports:
      - '5175:5175'
    environment:
      - NODE_ENV=production
      - PORT=5175
      - VITE_API_URL=${VITE_API_URL}
      - PRESENTATION_URL=${PRESENTATION_URL}
    networks:
      - network-aiprimary

networks:
  network-aiprimary:
    name: network-aiprimary
