.center {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 0.25rem !important;
  text-align: center !important;
}

.lucide {
  width: 1rem;
  height: 1rem;
  opacity: 0.7;
  padding: 0;
  margin: 0;
  outline: none;
}

.title-panel {
  font-size: 0.875rem;
}

.title {
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border-width: 0;
  border-style: solid;
  border-color: var(--presentation-border);
  vertical-align: baseline;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--presentation-card);
  color: var(--presentation-foreground);
  font-size: 0.875rem;
  overflow: hidden;
}

body {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: var(--presentation-primary);
}

img {
  vertical-align: middle;
  border-style: none;
}

hr {
  height: 0;
  overflow: visible;
}

mark.active {
  background-color: var(--presentation-secondary);
}

input,
button,
select,
optgroup,
textarea {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  border-radius: 0;
  background-color: transparent;
  opacity: 1;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
  border: 1px solid var(--presentation-border);
  cursor: pointer;
}

button,
input:where([type='button'], [type='reset'], [type='submit']),
::file-selector-button {
  appearance: button;
}

textarea {
  overflow: auto;
  resize: vertical;
}

a,
area,
button,
[role='button'],
input:not([type='range']),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #e1e1e1;
  border-radius: 3px;
}
