.vue-remote {
  height: calc(100vh - var(--header-height, 64px)); // fallback to 64px if custom property not available

  span.i-icon {
    font-size: $smIconSize !important;
    opacity: 0.7 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .title-panel {
    font-size: $baseTextSize;
  }

  .center {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 4px !important;
  }

  .serif {
    font-family: ui-serif, Georgia, Cambria, 'Times New Roman', serif;
  }

  .mono {
    font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  }
}
